.body_Data{
  width: 80%;
  margin-left: 10%;

}

.mainContentPosition {
  position: absolute;
  top: 0px;
  margin-left: -620px;
  left: 50%;
  width: 1240px;
  height: 100%;
  table-layout: fixed;
}

.gameListCover {
  position: absolute;
  top: 0px;
  width: 295px;
  height: 295px;
}

.gameListCover:hover{
  background-color: yellow;
}

.S18 {
  font-size: 18px;
  font-weight: 600;
}

.radius30:hover + .gameListCover{
  background-color: yellow;
}

.radius30 {
  display: inline-block;
}
